
/*create by zmy for web map*/
.mapmain
{	
	background-color:rgba(255, 255, 255, 1);
}
.path
{
	padding-top:10px;
	margin:10px 10px 25px;
}
.list
{
	margin:0px 10px;
	padding-top:10px;
	height:84px;
	border-radius:4px;
	background-color:#fafafa;
}
.map h2
{
	color:#f0f;
}
.list ul
{

}
.list li
{
	float:left;
	width:250px;
}