
/* custom css style: pageNum,cPageNum */
.pageNum{border: 1px solid #999;padding:2px 8px;display: inline-block;}
.cPageNum{font-weight: bold;padding:2px 5px;}
#pageNav a:hover{text-decoration:none;background: #fff4d8; }
/*create by zmy for order*/
.order_main
{
	float:left;
	display:inline;
	height: 1580px;
	width: 1000px;
	float:left;
}

.order_list
{
	height: 348px;
	margin-bottom: 10px;
}

.bought_list
{
	table-layout:fixed;
	width:100%;
	border-collapse:collapse;
}
.bought_list th
{
	border:1px solid #d4e7ff;
	text-align:center;
}
.bought_list td
{
	border:1px solid #d4e7ff;
	word-break:break-all;
}
.bought_list .order_item 
{
	text-align:center;
	height:90px;
}
.bought_list .order_head
{
	background-color:#e8f2ff;
	height:30px;
}
.item_pic
{
	width:90px;
}
.item_name
{
	width:160px;
}
.item
{
	width:250px;
}
.price
{
	width:65px;
}
.num
{
	width:60px;
}
.totalprice
{
	width:65px;
}
.after_service
{
	width:68px;
}
.logistic
{
	width:80px;
}
.trade_state
{
	width:98px;
}
.trade_op
{
	width:98px;
}