@charset "utf-8";
/* CSS Document */

/* custom css style: pageNum,cPageNum */
.pageNum{border: 1px solid #999;padding:2px 8px;display: inline-block;}
.cPageNum{font-weight: bold;padding:2px 5px;}
#pageNav a:hover{text-decoration:none;background: #fff4d8; }
/*create by zmy for tran*/


.order_list
{
	margin-bottom: 10px;
	width:1100px;
}

.bought_list
{
	table-layout:fixed;
	width:100%;

}

.bought_list td
{
	word-break:break-all;
}
.bought_list .order_item 
{
	text-align:center;
	height:90px;
}
.bought_list .order_head
{
	background-color:#e8f2ff;
	height:30px;
}

.orderquery
{
	margin:20px 0;
}
.trade_state
{
	width:160px;
}

#TrandeStatesHandle
{
	position:relative;
	top:10px;
}

