@charset "utf-8";
/* CSS Document */
/*nomal CSS don't modify it!*/
body{
	text-align:center;	
	color: #999999;
	background-attachment: scroll;
	background-image: url(img/backgurand.jpg);
	background-repeat: repeat-x;
	background-position: center;
	background-color: #f7fcf8;
}
textarea, input {
   border: none;
}
body, button, input, select, textarea{
font: 12px/1.5 tahoma,"microsoft yahei","微软雅黑";
font-family: tahoma, 'microsoft yahei', 微软雅黑;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 1.5;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}
li{
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
font-weight: 500;
}
ins, a {
text-decoration: none;
}

/*head*/
.tophead
{
	height:85px;
	width:1200px;
	margin: 0 auto;
	padding: 0px;

}

.logo
{
	float:left;
	height:85px;
	width:200px;
	background-color:rgba(55, 123, 238, 1);

}
.menu
{
	
	float:left;
	display:inline;
	height: 85px;
	width: 1000px;
	background-color:rgba(96, 96, 96, 1);
}
.search
{
	position:relative;
	margin:25px 0;
	left:100px;
	float:left;
	width: 463px;
	height:37px;
}
.searchkey
{
	float:left;
	 width:400px;
	 height:37px;
}
.searchkey input
{
	float:left;
	 width:400px;
	 height:20px;
	 padding: 9px 0 8px 10px;
	 background-color:#ecf2fb;
}
.searchsub
{
	position:relative;
	float:left;
	width:37px;
	height:37ppx;
	
}
.searchsub input
{
	float:left;
	width:37px;
	height:37ppx;
	line-height: 37px;
	background-color:#FC0;
}
.usermenu{
	position:relative;
	margin:40px 0 15px 0;
	left:80px;
	float:left;
	width: 120px;
	height:30px;
}
/*main*/
.main
{	
	margin: 0 auto;
	height:800px;	
	width:1200px;
	text-align:left;	
}
.menulist
{
	float:left;
	width:200px;
	height:800px;
	background-color:rgba(250, 250, 250, 0.7);

}

/*tail*/
.tail
{
	position:absolute;
	top:1000px;
	margin: 0 auto;
	width:1200px;
	height:52px;
}


